@import url("cusotmized-bootstrap.css");
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
   /* margin-bottom: 60px; */
    height: calc(100vh);
   
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.contents {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents::before {    
      content: "";
      background-image: url('../media/images/books-background.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.85;
}

/*. {  
    color: white;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('');
    background-size: cover;
}
*/

.contents .container{
    color:white;
    position: relative;
    background-color: var(--content-container-background);
    opacity: 1;
    border-radius: 1em;
    box-sizing: border-box;
    margin-top: 1em;
    padding: 2em;
}

/*quote of the day style*/
.AWAD_title {
    color: silver;
    font-weight: bold;
}

.AWAD_quotation {
    text-decoration: none;
    color: green;
}

.AWAD_byline {
    font-style: italic;
}