@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book Web</h1>

    <a id="register" class="btn btn-lg btn-default m-2 w-25" asp-area="Identity" asp-page="/Account/Login">Log in</a>
    <a id="login" class="btn btn-lg btn-primary m-2 w-25" asp-area="Identity" asp-page="/Account/Register">Sign up</a>

</div>