@using Microsoft.AspNetCore.Identity
@using Bookweb.Areas.Identity.Data

@inject SignInManager<BookwebUser> SignInManager
@inject UserManager<BookwebUser> UserManager


<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("ADMIN"))
        {
            <h1 id="welcome-back-admin" class="display-4">Welcome back, Admin!</h1>            
        }

        //each admin is also user, this if prevents double display
        @if (User.IsInRole("USER") && !User.IsInRole("ADMIN"))
        {
            <h1 id="welcome-back-user" class="display-4">Welcome back, weary reader!</h1>
        }
    }
    else
    {
        <div id="login-signup" class="mt- mb-2">
            <a id="register" class="btn btn-lg btn-default m-2 w-25" asp-area="Identity" asp-page="/Account/Login">Log in</a>
            <a id="login" class="btn btn-lg btn-primary m-2 w-25" asp-area="Identity" asp-page="/Account/Register">Sign up</a>

        </div>
    }

    <br />
    <div class="mb-2 p-3 ">
        <script src="https://wordsmith.org/words/quote2.js" type="text/javascript"></script>
    </div>

</div>
